.features {
  margin-bottom: 232px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;

  @media (max-width: $media-dt) {
    margin-bottom: 100px;
  }

  @media (max-width: $media-tb) {
    margin-bottom: 50px;
  }

  &__title {
    @include visually-hidden;
  }

  &__list {
    @include reset-list;
    @include reset-margin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: $media-tb) {
      justify-content: space-around;
    }
  }

  &__item {
    max-width: 286px;
    width: 100%;
    margin-right: 26px;
    margin-bottom: 20px;
    color: $c-royal-blue;

    @media (max-width: $media-tb) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    span {
      display: block;
      padding-bottom: 14px;
      font-size: 60px;
      line-height: 62px;
    }
  }

  &__description {
    width: 90%;
    margin: 0 auto;
    text-transform: uppercase;
  }
}
