.main-footer {
  padding-top: 33px;
  padding-bottom: 12px;

  .site-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form-wrapper {
    max-width: 800px;
    width: 100%;
    margin-bottom: 30px;

    @media (max-width: $media-tb) {
      margin-bottom: 20px;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    label {
      margin-right: 14px;
      color: $c-caribbean-green;
      cursor: pointer;

      @media (max-width: $media-tb) {
        flex-grow: 1;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
      }
    }

    input {
      max-width: 258px;
      width: 100%;
      height: 40px;
      padding: 0 12px;
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
      font-family: $lato;
      color: $c-bossanova;
      border: 1px solid #cdcdcd;
      border-right: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      cursor: pointer;

      @media (max-width: $media-tb) {
        max-width: 400px;
        margin-bottom: 20px;
      }

      &::placeholder {
        font-size: 16px;
        line-height: 38px;
        color: $c-silver;
      }
    }
  }

  &__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 40px;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    color: $c-white;
    background-color: $c-caribbean-green;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: box-shadow 0.3s;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      background-color: rgba($c-black, 0.07);
      opacity: 0;
      transition: opacity 0.3s;
    }

    // hover
    &:hover::before,
    &:focus::before {
      opacity: 1;
    }

    // active
    &:active::before {
      opacity: 0;
    }

    &:active {
      box-shadow: inset 0 0 10px 0 rgba($c-black, 0.2);
    }

    @media (max-width: $media-tb) {
      max-width: 400px;
      width: 100%;
    }
  }

  &__link-list-wrapper {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 20px;
  }

  &__link-list {
    @include reset-list;
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: auto;

    @media (max-width: $media-tb) {
      grid-template-columns: repeat(2, auto);
    }
  }

  &__link-item {
    text-align: center;
    text-transform: uppercase;

    a {
      display: inline-block;
      vertical-align: top;
      padding: 30px 29px;
      transition: background-color 0.3s;

      // hover
      &:hover,
      &:focus {
        background-color: $c-concrete;
      }

      // active
      &:active {
        background-color: $c-concrete;
      }
    }

    span {
      text-transform: lowercase;
    }
  }

  &__flag-list-wrapper {
    display: flex;
    justify-content: center;
    max-width: 828px;
    width: 100%;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #d3d3d3;
  }

  &__flag-list {
    @include reset-list;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__flag-item {
    margin-right: 11px;
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__description {
    @include reset-margin;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: $lato;
  }
}
