.main-footer {
  font-size: 14px;
  line-height: 24px;

  // contacts block
  &__contacts-wrapper {
    position: relative;
    padding-top: 57px;
    padding-bottom: 48px;
    background-color: $c-mine-shaft-2;

    @media (max-width: $media-dt) {
      padding-top: 38px;
      padding-bottom: 25px;
    }

    .site-wrapper {
      display: flex;
      max-width: 1170px;
      padding-left: 9px;

      @media (max-width: $media-dt) {
        flex-wrap: wrap;
      }
    }
  }

  &__twitter-wrapper {
    min-width: 300px;
    height: 295px;
    margin-right: $m-footer-twitter-wrapper-dt * 100% / $w-footer-site-wrapper-dt;
    background-color: white;

    @media (max-width: $media-dt) {
      order: 1;
      margin-right: 0;
      margin-bottom: 20px;
    }

    @media (max-width: $media-tb) {
      min-width: 280px;
      max-width: 300px;
      width: 100%;
    }
  }

  &__lists-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__list-wrapper {
    max-width: 214px;
    width: 100%;
    margin-right: $m-footer-list-wrapper-dt * 100% / $w-footer-lists-wrapper-dt;
    margin-bottom: 40px;

    @media (max-width: $media-dt) {
      @include set-width($w-footer-list-wrapper-tb, $w-footer-lists-wrapper-tb);
      max-width: none;
    }

    @media (max-width: $media-tb) {
      flex-grow: 1;
      width: 50%;
      margin-right: 0;
    }

    &:nth-child(3n),
    &:last-child {
      margin-right: 0;
    }
  }

  &__list-title {
    position: relative;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 16px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: $c-pizazz;

    &::before {
      content: "";
      position: absolute;
      top: 1px;
      left: 0;
      width: 9px;
      height: 10px;
      background-image: url("../assets/images/svg/icon-button.svg");
      background-size: 9px 10px;
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  &__list {
    @include reset-list;
  }

  &__item {
    letter-spacing: 0.5px;
    text-transform: uppercase;

    &--contact {
      margin-bottom: 4px;
      letter-spacing: 0;

      @media (max-width: $media-tb) {
        word-break: break-all;
      }

      &:last-child {
        margin-bottom: 0;
      }

      span {
        padding-right: 10px;
      }
    }

    a {
      // hover
      &:hover,
      &:focus {
        opacity: 0.7;
      }

      // active
      &:active {
        opacity: 0.5;
      }
    }
  }

  &__item-link {
    &--email {
      text-transform: lowercase;
    }
  }

  &__logo-wrapper {
    max-width: 1600px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: $media-dt) {
      position: static;
      order: 2;
      transform: none;
    }
  }

  &__logo {
    position: absolute;
    bottom: 25px;
    right: 2%;
    z-index: 1;
    margin-left: auto;

    @media (max-width: $media-dt) {
      position: static;
    }
  }

  // copyright block
  &__copyright-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 33px;
    background-color: $c-mine-shaft-1;
  }

  &__copyright {
    margin: 0;
    padding-top: 5px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    font-family: $raleway;
    letter-spacing: 0.4px;
    text-align: center;
    text-transform: uppercase;
    color: $c-dusty-gray;

    span {
      &:first-child {
        position: relative;
        padding-right: 20px;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 3px;
          width: 9px;
          height: 10px;
          background-image: url("../assets/images/svg/icon-button.svg");
          background-size: 9px 10px;
          background-position: 0 0;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
