.invitation {
  display: flex;
  align-items: center;
  min-height: 216px;
  padding: 74px 0;
  font-size: 26px;
  line-height: 30px;
  background-image:
    linear-gradient(to right, rgba($c-royal-blue, 0.8) 0%, rgba($c-royal-blue, 0.8) 100%),
    url("../assets/images/overlay.jpg");
  background-size: cover, cover;
  background-position: center, 50% 43%;
  background-repeat: no-repeat, no-repeat;
  background-color: $c-royal-blue;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      linear-gradient(to right, rgba($c-royal-blue, 0.8) 0%, rgba($c-royal-blue, 0.8) 100%),
      url("../assets/images/overlay@2x.jpg");
  }

  @media (max-width: $media-tb) {
    font-size: 16px;
    line-height: 20px;
  }

  .site-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-weight: 700;
  }

  &__link {
    min-height: 52px;
    width: 171px;
    margin-top: 16px;

    @media (max-width: $media-tb) {
      margin-top: 0;
    }
  }
}
