.nav {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4px;
  font-size: 14px;
  line-height: 18px;

  &__top-menu-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  &__logo-wrapper {
    width: 447px;
  }

  &__button-wrapper {
    align-self: flex-end;
    display: flex;
    align-items: center;
    margin-bottom: 100px;

    span {
      padding-top: 4px;
      padding-right: 5px;
      font-size: 18px;
      line-height: 20px;
      text-transform: uppercase;
    }
  }

  &__menu-button {
    width: 40px;
    height: 40px;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    transition: opacity 0.3s;
    cursor: pointer;

    // hover
    &:hover,
    &:focus {
      opacity: 0.7;
    }

    // active
    &:active {
      opacity: 0.5;
    }

    i {
      font-size: 42px;
      color: $c-alizarin-crimson;
    }
  }
}
