// font
$dosis: "Dosis", "Arial", sans-serif;

// color
$c-white: #ffffff;
$c-black: #000000;
$c-dusty-gray: #9b9b9b;
$c-alto: #dcdcdc;
$c-valhalla: #2f1946;
$c-vivid-violet: #81398b;
$c-bossanova: #642f6b;
$c-bossanova-2: #67326e;
$c-radical-red: #fe4a5d;
$c-mandy: #e44254;
$c-alizarin-crimson: #e22028;
$c-cardinal: #cb1d24;
$c-blaze-orange: #ff6c00;
$c-clementine: #e56100;
$c-pale-slate: #d0ced0;
$c-sapphire: #2f53a3;

// width
$w-layout-mb: 360px;
$w-layout-tb: 720px;
$w-layout-dt: 1798px;
$w-site-wrapper-mb: 340px;
$w-site-wrapper-tb: 700px;
$w-site-wrapper-dt: 1270px;

// margin
$m-products-item-dt: 29px;
$m-footer-twitter-wrapper-dt: 106px;
$m-footer-list-wrapper-dt: 56px;

// @media
$media-dt: 1023px;
$media-tb: 767px;
$media-mb: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
