// font
$proxima: "ProximaNova", "Arial", sans-serif;
$raleway: "Rale way", "Arial", sans-serif;

// color
$c-white: #ffffff;
$c-black: #000000;
$c-mine-shaft-1: #252525;
$c-mine-shaft-2: #363636;
$c-gray: #878787;
$c-dusty-gray: #9b9b9b;
$c-royal-blue: #7050e5;
$c-pizazz: #ff8b00;

// width
$w-layout-mb: 360px;
$w-layout-tb: 720px;
$w-layout-dt: 1600px;
$w-site-wrapper-mb: 340px;
$w-site-wrapper-tb: 700px;
$w-site-wrapper-dt: 1152px;
$w-products-list-dt: 914px;
$w-products-item-dt: 285px;
$w-footer-site-wrapper-dt: 1170px;
$w-footer-lists-wrapper-dt: 755px;
$w-footer-lists-wrapper-tb: 911px;
$w-footer-list-wrapper-tb: 250px;

// margin
$m-products-item-dt: 29px;
$m-footer-twitter-wrapper-dt: 106px;
$m-footer-list-wrapper-dt: 56px;

// @media
$media-dt: 1023px;
$media-tb: 767px;
$media-mb: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
